# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


 <div className="">
  <p className='text-white '>Home</p>
  <p className='text-white ml-12 '>Tv Shows</p>
  <p className='text-white ml-12  '>Movies</p>
  <p className='text-white ml-12  '>Recently Added</p>
  </div> */}
  {/* <img
    className="avatar fixed top-6 right-4 w-12"
    src="https://i.pinimg.com/originals/0d/dc/ca/0ddccae723d85a703b798a5e682c23c1.png"
    alt="Avatar"
  /> 